body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
  color: #333;
  margin: 0;
  padding: 20px;
}

header {
  text-align: center;
  background-color: #cce5ff;
  padding: 20px;
  border-radius: 10px;
}

h1 {
  font-size: 2em;
}

section {
  margin: 30px 0;
}

.quiz {
  background-color: #e6f7ff;
  padding: 20px;
  border-radius: 10px;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#result {
  margin-top: 20px;
  font-weight: bold;
}

/* #erdekességek a fülekröl */
.facts-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 40px 20px;
  background-color: #f0f8ff;
}

.fact-card {
  width: 300px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
  text-align: center;
  animation: fadeInUp 1s ease forwards;
  opacity: 0;
}

.fact-card img {
  width: 100px;
  height: auto;
  margin-bottom: 15px;
}

@keyframes fadeInUp {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
